# Feature engineering: Preprocessing steps to get an engineered table ready to use in light bosting ( see part 2).

In [1]:
# Importing libraries and the gc library to clean up memory.
# The dataset become quite big to fit everything in pandas data frame all together. gc cena help. 
# For bigger dataset store them in pickes or set up a sqlite database to query. 

import pandas as pd
import numpy as np
import gc

In [2]:
# Setting working directory
path = '/home/crescio/Documents/kaggle/intacart/data/'

Loading Files

In [3]:
print('loading files, this take a while ...')

aisles = pd.read_csv(path + 'aisles.csv')
dep = pd.read_csv(path + 'departments.csv')
ord_prd_pr = pd.read_csv(path + 'order_products__prior.csv')
ord_prd_tr = pd.read_csv(path + 'order_products__train.csv')
orders = pd.read_csv(path + 'orders.csv')
products = pd.read_csv(path + 'products.csv')

loading files, this can take long time ...

In [6]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [8]:
dep.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [9]:
ord_prd_pr.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
ord_prd_tr.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [11]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [30]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

Assigning variables types, removing uncessary float variables and convert them to integers

In [4]:
# Changing some columns types to int for less memory usage

aisles['aisle'] = aisles['aisle'].astype('category')
dep['department'] = dep['department'].astype('category')
orders['eval_set'] = orders['eval_set'].astype('category')
products['product_name'] = products['product_name'].astype('category')

orders.order_dow = orders.order_dow.astype(np.int8)
orders.order_hour_of_day = orders.order_hour_of_day.astype(np.int8)
orders.order_number = orders.order_number.astype(np.int16)
orders.order_id = orders.order_id.astype(np.int32)
orders.user_id = orders.user_id.astype(np.int32)
orders.days_since_prior_order = orders.days_since_prior_order.astype(np.float32)

products.aisle_id = products.aisle_id.astype(np.int8)
products.department_id = products.department_id.astype(np.int8)
products.product_id = products.product_id.astype(np.int32)

ord_prd_tr.reordered = ord_prd_tr.reordered.astype(np.int8)
ord_prd_tr.add_to_cart_order = ord_prd_tr.add_to_cart_order.astype(np.int16)

ord_prd_pr.order_id = ord_prd_pr.order_id.astype(np.int32)
ord_prd_pr.add_to_cart_order = ord_prd_pr.add_to_cart_order.astype(np.int16)
ord_prd_pr.reordered = ord_prd_pr.reordered.astype(np.int8)
ord_prd_pr.product_id = ord_prd_pr.product_id.astype(np.int32)

Reshaping Products features and adding other features about reorders

In [5]:
print('Reshaping Products data ...')

Reshaping Products data ...

In [6]:
products = pd.merge(products, dep,how = 'left', on='department_id')
products = pd.merge(products, aisles , how = 'left', on = 'aisle_id')
prod_dep_aisles_nan = products[products.isnull().any(axis=1)]
prod_dep_aisles_nan.head()

,product_id,product_name,aisle_id,department_id,department,aisle
32,33,Organic Spaghetti Style Pasta,-125,9,dry goods pasta,NaN
51,52,Mirabelle Brut Rose,-122,5,alcohol,NaN
57,58,Whole Wheat Tortillas,-128,3,bakery,NaN
67,68,"Pancake Mix, Buttermilk",-126,14,breakfast,NaN
82,83,100% Whole Wheat Pita Bread,-128,3,bakery,NaN

In [7]:
products.drop(['department_id'], axis = 1, inplace = True)
products.drop(['aisle_id'], axis = 1, inplace = True)

# Memory cleaning 
del prod_dep_aisles_nan
gc.collect()

products.head()

,product_id,product_name,department,aisle
0,1,Chocolate Sandwich Cookies,snacks,cookies cakes
1,2,All-Seasons Salt,pantry,spices seasonings
2,3,Robust Golden Unsweetened Oolong Tea,beverages,tea
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,frozen,frozen meals
4,5,Green Chile Anytime Sauce,pantry,marinades meat preparation

In [8]:
ord_prd_tr = ord_prd_tr.merge(orders[['user_id','order_id']], left_on = 'order_id', right_on = 'order_id', how = 'inner')

orders_products = orders.merge(ord_prd_pr, how = 'inner', on = 'order_id')

# Memory cleaning 
del ord_prd_pr
gc.collect()

124

In [9]:
orders_products.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [9]:
# sorting orders and products to get the rank or the reorder times for the product
prdss = orders_products.sort_values(['user_id', 'order_number', 'product_id'], ascending=True)

del orders_products
gc.collect()

28

In [10]:
prdss = prdss.assign(product_time = prdss.groupby(['user_id', 'product_id']).cumcount()+1)

In [15]:
prdss.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_time
0,2539329,1,prior,1,2,8,NaN,196,1,0,1
2,2539329,1,prior,1,2,8,NaN,12427,3,0,1
1,2539329,1,prior,1,2,8,NaN,14084,2,0,1
3,2539329,1,prior,1,2,8,NaN,26088,4,0,1
4,2539329,1,prior,1,2,8,NaN,26405,5,0,1

In [11]:
# getting products ordered first and second times to calculate probability later
sub1 = prdss[prdss['product_time'] == 1].groupby('product_id').size().to_frame('prod_first_orders')
sub2 = prdss[prdss['product_time'] == 2].groupby('product_id').size().to_frame('prod_second_orders')

sub1['prod_orders'] = prdss.groupby('product_id')['product_id'].size()
sub1['prod_reorders'] = prdss.groupby('product_id')['reordered'].sum()
sub2 = sub2.reset_index().merge(sub1.reset_index())

In [12]:
# calculating reorder probability and ratio for the product
sub2['prod_reorder_probability'] = sub2['prod_second_orders']/sub2['prod_first_orders']
sub2['prod_reorder_times'] = 1 + sub2['prod_reorders']/sub2['prod_first_orders']
sub2['prod_reorder_ratio'] = sub2['prod_reorders']/sub2['prod_orders']
prd = sub2[['product_id', 'prod_orders','prod_reorder_probability', 'prod_reorder_times', 'prod_reorder_ratio']]

# Memory cleaning 
del sub1, sub2
gc.collect()

198

In [18]:
prd.head()

,product_id,prod_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio
0,1,1852,0.385475,2.586592,0.613391
1,2,90,0.102564,1.153846,0.133333
2,3,277,0.486486,3.743243,0.732852
3,4,329,0.351648,1.807692,0.446809
4,5,15,0.666667,2.500000,0.600000

Reshaping Users features and adding other features about reorders

In [13]:
print('Reshaping Users data ...')

# extracting prior information (features) by user
users = orders[orders['eval_set'] == 'prior'].groupby(['user_id'])['order_number'].max().to_frame('user_orders')
users['user_period'] = orders[orders['eval_set'] == 'prior'].groupby(['user_id'])['days_since_prior_order'].sum()
users['user_mean_days_since_prior'] = orders[orders['eval_set'] == 'prior'].groupby(['user_id'])['days_since_prior_order'].mean()

Reshaping Users data ...

In [14]:
#reload ord_prd_pr previously deleted to free memory
ord_prd_pr = pd.read_csv(path + 'order_products__prior.csv')
orders_products = orders.merge(ord_prd_pr, how = 'inner', on = 'order_id')
ord_prd_pr.order_id = ord_prd_pr.order_id.astype(np.int32)
ord_prd_pr.add_to_cart_order = ord_prd_pr.add_to_cart_order.astype(np.int16)
ord_prd_pr.reordered = ord_prd_pr.reordered.astype(np.int8)
ord_prd_pr.product_id = ord_prd_pr.product_id.astype(np.int32)

# merging features about users and orders into one dataset
us = orders_products.groupby('user_id').size().to_frame('user_total_products')
us['eq_1'] = orders_products[orders_products['reordered'] == 1].groupby('user_id')['product_id'].size()
us['gt_1'] = orders_products[orders_products['order_number'] > 1].groupby('user_id')['product_id'].size()

In [15]:
# reorder ratio for the user (grouped by product)
us['user_reorder_ratio'] = us['eq_1'] / us['gt_1']
us.drop(['eq_1', 'gt_1'], axis = 1, inplace = True)
us['user_distinct_products'] = orders_products.groupby(['user_id'])['product_id'].nunique()

In [16]:
# Memory cleaning: ord_prd_pr 
del ord_prd_pr
gc.collect()

56

In [18]:
us.head()

         user_total_products  user_reorder_ratio  user_distinct_products
user_id
1                         59            0.759259                      18
2                        195            0.510989                     102
3                         88            0.705128                      33
4                         18            0.071429                      17
5                         37            0.538462                      23

In [17]:
# the average basket size of the user
users = users.reset_index().merge(us.reset_index())
users['user_average_basket'] = users['user_total_products'] / users['user_orders']

us = orders[orders['eval_set'] != 'prior']
us = us[['user_id', 'order_id', 'eval_set', 'days_since_prior_order']]

users = users.merge(us)

# Memory cleaning 
del us
gc.collect()

121

In [22]:
users.head()

,user_id,user_orders,user_period,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,eval_set,days_since_prior_order
0,1,10,176.0,19.555555,59,0.759259,18,5.900000,1187899,train,14.0
1,2,14,198.0,15.230769,195,0.510989,102,13.928571,1492625,train,30.0
2,3,12,133.0,12.090909,88,0.705128,33,7.333333,2774568,test,11.0
3,4,5,55.0,13.750000,18,0.071429,17,3.600000,329954,test,30.0
4,5,4,40.0,13.333333,37,0.538462,23,9.250000,2196797,train,6.0

In [21]:
users.drop_duplicates(subset = 'eval_set')

,user_id,user_orders,user_period,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,eval_set,days_since_prior_order
0,1,10,176.0,19.555555,59,0.759259,18,5.900000,1187899,train,14.0
2,3,12,133.0,12.090909,88,0.705128,33,7.333333,2774568,test,11.0

In [27]:
users[ users['eval_set'] == 'prior']

Empty DataFrame
Columns: [user_id, user_orders, user_period, user_mean_days_since_prior, user_total_products, user_reorder_ratio, user_distinct_products, user_average_basket, order_id, eval_set, days_since_prior_order]
Index: []

Merging all data (users, orders, products) into one dataset

In [18]:
# merging orders and products and grouping by user and product and calculating features for the user/product combination
data = orders_products.groupby(['user_id', 'product_id']).size().to_frame('up_orders')
data['up_first_order'] = orders_products.groupby(['user_id', 'product_id'])['order_number'].min()
data['up_last_order'] = orders_products.groupby(['user_id', 'product_id'])['order_number'].max()
data['up_average_cart_position'] = orders_products.groupby(['user_id', 'product_id'])['add_to_cart_order'].mean()
data = data.reset_index()

# Memory cleaning 
del orders_products, orders
gc.collect()

125

In [19]:
#merging previous data with users
data = data.merge(prd, on = 'product_id')
data = data.merge(users, on = 'user_id')

In [20]:
#user/product combination features about the particular order
data['up_order_rate'] = data['up_orders'] / data['user_orders']
data['up_orders_since_last_order'] = data['user_orders'] - data['up_last_order']
data['up_order_rate_since_first_order'] = data['up_orders'] / (data['user_orders'] - data['up_first_order'] + 1)
data = data.merge(ord_prd_tr[['user_id', 'product_id', 'reordered']], how = 'left', on = ['user_id', 'product_id'])

In [21]:
# Memory cleaning
del ord_prd_tr, users, prd
gc.collect()

62

In [34]:
data.head()

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio,...,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,eval_set,days_since_prior_order,up_order_rate,up_orders_since_last_order,up_order_rate_since_first_order,reordered
0,1,196,10,1,10,1.400000,35791,0.582500,4.473875,0.776480,...,0.759259,18,5.9,1187899,train,14.0,1.0,0,1.000000,1.0
1,1,10258,9,2,10,3.333333,1946,0.552962,3.493716,0.713772,...,0.759259,18,5.9,1187899,train,14.0,0.9,0,1.000000,1.0
2,1,10326,1,5,5,5.000000,5526,0.521581,2.873635,0.652009,...,0.759259,18,5.9,1187899,train,14.0,0.1,5,0.166667,NaN
3,1,12427,10,1,10,3.300000,6476,0.529482,3.857058,0.740735,...,0.759259,18,5.9,1187899,train,14.0,1.0,0,1.000000,NaN
4,1,13032,3,2,10,6.333333,3751,0.479782,2.916796,0.657158,...,0.759259,18,5.9,1187899,train,14.0,0.3,0,0.333333,1.0

In [22]:
list(data)

['user_id',
 'product_id',
 'up_orders',
 'up_first_order',
 'up_last_order',
 'up_average_cart_position',
 'prod_orders',
 'prod_reorder_probability',
 'prod_reorder_times',
 'prod_reorder_ratio',
 'user_orders',
 'user_period',
 'user_mean_days_since_prior',
 'user_total_products',
 'user_reorder_ratio',
 'user_distinct_products',
 'user_average_basket',
 'order_id',
 'eval_set',
 'days_since_prior_order',
 'up_order_rate',
 'up_orders_since_last_order',
 'up_order_rate_since_first_order',
 'reordered']

In [ ]:
##########

# Now we have our dataset engineered into one dataframe 'data' that combines both train and test sets, has features about users, products, orders and user-product

# Next, get the train and test data

In [ ]:
###########

In [23]:
print('Preparing Train set ...')

# filter by eval_set = train, replace Nan with zeros (not reordered) and dropping the id's columns
# because they are not part of the training features.
train = data[data['eval_set'] == 'train']
train['reordered'].fillna(0, inplace=True)
train.drop(['eval_set', 'user_id', 'product_id', 'order_id'], axis = 1, inplace = True)

Preparing Train set ...

/home/crescio/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/crescio/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [24]:
train.head()

,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio,user_orders,user_period,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,days_since_prior_order,up_order_rate,up_orders_since_last_order,up_order_rate_since_first_order,reordered
0,10,1,10,1.400000,35791,0.582500,4.473875,0.776480,10,176.0,19.555555,59,0.759259,18,5.9,14.0,1.0,0,1.000000,1.0
1,9,2,10,3.333333,1946,0.552962,3.493716,0.713772,10,176.0,19.555555,59,0.759259,18,5.9,14.0,0.9,0,1.000000,1.0
2,1,5,5,5.000000,5526,0.521581,2.873635,0.652009,10,176.0,19.555555,59,0.759259,18,5.9,14.0,0.1,5,0.166667,0.0
3,10,1,10,3.300000,6476,0.529482,3.857058,0.740735,10,176.0,19.555555,59,0.759259,18,5.9,14.0,1.0,0,1.000000,0.0
4,3,2,10,6.333333,3751,0.479782,2.916796,0.657158,10,176.0,19.555555,59,0.759259,18,5.9,14.0,0.3,0,0.333333,1.0

In [25]:
# Saving train set to files for easier loading to model, without having to re-prepare the data. Free Memory
train.to_csv('my_train.csv', header = True, index = False)
# Memory cleaning
del train
gc.collect()

18

In [26]:
print('Preparing Test set ...')

# filter by eval_set = test, replace Nan with zeros (not reordered) and 
test = data[data['eval_set'] == 'test']
test['reordered'].fillna(0, inplace=True)
test.drop(['eval_set', 'user_id', 'reordered'], axis = 1, inplace = True)

Preparing Test set ...

/home/crescio/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/crescio/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
test.head()

,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio,user_orders,...,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,days_since_prior_order,up_order_rate,up_orders_since_last_order,up_order_rate_since_first_order
18,196,5,15,22,2.200,35791,0.582500,4.473875,0.776480,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.227273,0,0.625000
19,12427,10,1,20,2.100,6476,0.529482,3.857058,0.740735,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.454545,2,0.454545
20,1747,4,8,19,3.500,1448,0.393238,2.576512,0.611878,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.181818,3,0.266667
21,10441,8,1,22,2.375,2909,0.536332,3.355248,0.701959,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.363636,0,0.363636
22,11266,10,1,19,1.600,4081,0.596670,3.775208,0.735114,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.454545,3,0.454545

In [28]:
# Saving test set to files for easier loading to model, without having to re-prepare the data. Free Memory
test.to_csv('my_test.csv', header = True, index = False)
# Memory cleaning
del test
gc.collect()

297

In [32]:
test.head()

,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio,user_orders,...,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,days_since_prior_order,up_order_rate,up_orders_since_last_order,up_order_rate_since_first_order
18,196,5,15,22,2.200,35791,0.582500,4.473875,0.776480,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.227273,0,0.625000
19,12427,10,1,20,2.100,6476,0.529482,3.857058,0.740735,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.454545,2,0.454545
20,1747,4,8,19,3.500,1448,0.393238,2.576512,0.611878,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.181818,3,0.266667
21,10441,8,1,22,2.375,2909,0.536332,3.355248,0.701959,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.363636,0,0.363636
22,11266,10,1,19,1.600,4081,0.596670,3.775208,0.735114,22,...,10.809524,72,0.867647,13,3.272727,2161313,7.0,0.454545,3,0.454545

In [ ]:
#Memory Cleaning
del data
gc.collect()